.home-details .home-details-header {
    background-image:linear-gradient(to right, rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url("../../images/searchbar-bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 300px;
}

.home-details .home-details-header h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    color: #FFFFFF;
}

.home-details .card,
.home-details input {
    border-radius: 0;
}

.home-details input::placeholder,
.home-details textarea::placeholder {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.0015em;
    color: #747474;
}

.home-details .request-booking-btn {
    color: #FFFFFF;
    background: #275A53;
    padding: 14px 28px;
    border-radius: 0;
}

.home-details .homeDetailImage1 {
    width: 770px;
    height: 376px;
}

.home-details .rent-title,
.home-details .rent-price {
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 0.0015em;
}

.home-details .rent-title {
    color: #16322E;
}

.home-details .rent-price {
    color: #275A53;
}

.home-details .home-details-content p {
    font-weight: 500;
    font-size: 20px;
    line-height: 44px;
    letter-spacing: 0.0015em;
    color: #747474;
}

.home-details h4 {
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
    color: #16322E;
}