.navbar .logo {
    width: 100px;
    height: 54.8px;
}

.navbar .nav-link,
.navbar .login-btn {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.navbar .nav-link {
    color: #000000!important;
}

.navbar .login-btn {
    color: #FFFFFF;
    background: #275A53;
    border-radius: 5px;
    padding: 10px 30px;
}

.navbar .login-btn:hover {
    text-decoration: none;
}